.userDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2;
  justify-items: center;
  margin: 20px;
}

.userData {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 340px;
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
  line-height: 10px;
}
